:root {
  --background-color: #303335;
}



*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html,
body {
  height: 100%;
}

body {
  color: var(--color-text);
  background: var(--background-color);
  background-image: url("./images/hero_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  font-optical-sizing: auto;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  height: 100%;
}